<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183482773888-d2eii6ee4um0s4hnra6ajkar2tl58o2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183482773888-d2eii6ee4um0s4hnra6ajkar2tl58o2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ33aRK73b4L7anc2cdTzoJI6myZMipAA</string>
	<key>GCM_SENDER_ID</key>
	<string>183482773888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moddormyFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-test-a2abf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-test-a2abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183482773888:ios:6356b9a7b9e0019bab5165</string>
</dict>
</plist>